/* Estilos Generales */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;   
    color: rgb(47, 215, 24);
}

body {
	font-family:'Courier New', Courier, monospace;
	max-width: 75em;
	margin: 1.25rem auto;
	display: flex;
	justify-content: center;
    background-image: url("https://images7.alphacoders.com/413/413186.jpg");
    background-size:cover;
	height: 100%;
	font-size: 16px;
	
}


/* Estilos para el contenedor principal */

.card-to-do {
	box-shadow: 0px 0px 5px rgb(245, 243, 243);
	padding: 0.625rem;
	border-radius: 50px;
	width: 90%;
	align-items: center;
    border: 0.75rem solid white;
	background-color: black;

}

/* Estilos para los titulos */

h1, h3 {
	text-align: center;
    color: #fff;
}

/* Estilos para los contadores */
.counter-movies {
	margin: 2.5rem 0;
	display: flex;
	justify-content: space-around;
}

/* Estilos para la linea de contadores */
.counter-movies span {
	color: #10e729;
	font-weight: 700;
	font-size: 1.5rem;
	margin-left: 0.625rem;
}

/* Estilos para la lista */
ul {
	margin-top: 3.125rem;
	display: flex;
	flex-direction: column;
	gap: 0.9375rem;
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.25rem;
}

ul li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
  
}

.input-update {
	border: none;
    padding: 0.625rem;
	font-weight: 500;
	font-size: 1rem;
	color: rgb(6, 19, 8);
	width: 90%;
	background-color:white;
	outline: none;
    border-radius: 1.25rem;
   
    
}
/* Estilos para los checkbox */
.container-done {
	background-color: white;
	width: 24px;
	height: 24px;
	border-radius: 20px;
	cursor:progress;
}

.container-done.active {
	background-color:gold;
}

.container-done:hover {
	background-color:gold;
}

.text-decoration-dashed {
	text-decoration:line-through red 4px;
}

/* Estilos para el boton Delete */

.btn-delete {
	background-color: black;
    color: #fff;
	padding: 0.9375rem;
	display: flex;
    align-items: center;
	justify-content: center;
	border: none;
	border-radius: 30%;
	transition: all 0.5s;
	cursor:pointer;
}

.btn-delete:hover {
	background-color: red;
}

/* Estilos para el boton de edición */
.btn-edit {
	background-color: black;
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 30%;
	transition: all 0.5s;
	cursor: pointer;
}

.btn-edit:hover {
	background-color: red;
}

/* Estilos para el formulario*/

form {
	display: flex;
	gap: 20px;
}

.add-movie h3 {
	text-align: center;
	margin-bottom: 2.5rem;
	font-size: 1.5rem;
}

.input-add {
	border: none;
	outline: none;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	flex: 1;
	font-family: inherit;
	font-size: 17px;
	color: black;
    background-color: lightgray;
}

/* Estilos para el boton agregar*/

.btn-add {
	border: none;
	background-color:black;
	color: rgb(23, 221, 43);
	padding: 0.3125rem 2.5rem;
	border-radius: 1.25rem;
	cursor:copy;
	font-size: 1.0625rem;
}

.btn-add:hover {
	background-color: red;
    opacity: 0.8;
    transition: all 0.5s;
}

@media screen and (max-width: 1400px) {
	.card-to-do { 
	  font-size: 1rem	;
	}
  }

@media screen and (max-width: 800px) {
	.card-to-do {
		font-size: 1rem ;
	  width: 100%;
	  padding: 0;
	}
  }
  
  /* Responsive layout  */
  @media screen and (max-width: 400px) {
	.card-to-do {
	  font-size: 1rem;
	  float: none;
	  width: 50%;
	  padding: 0;
	}
  }