/* Estilos Generales */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;   
    color: rgb(47, 215, 24);
}


body {
	font-family:'Courier New', Courier, monospace;
	max-width: 1200px;
	margin: 40px auto;
	display: flex;
	justify-content: center;
    background-image: url("https://images8.alphacoders.com/115/1152301.png");
    background-size: cover;
}

/* Estilos para el contenedor principal */

.card-to-do {
	box-shadow: 0px 0px 5px rgb(245, 243, 243);
	padding: 25px;
	border-radius: 50px;
	width: 700px;
    border: 12px solid white;

}

/* Estilos para los titulos */

h1, h3 {
	text-align: center;
    color: #fff;
}

/* Estilos para los contadores */
.counter-movies {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
}

/* Estilos para la linea de contadores */
.counter-movies span {
	color: #10e729;
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
}

/* Estilos para la lista */
ul {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

ul li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
  
}

.input-update {
	border: none;
    padding: 10px;
	font-weight: 500;
	font-size: 16px;
	color: rgb(6, 19, 8);
	width: 100%;
	background-color:white;
	outline: none;
    border-radius: 20px;
   
    
}
/* Estilos para los checkbox */
.container-done {
	background-color: white;
	width: 24px;
	height: 24px;
	border-radius: 20px;
	cursor: pointer;
}

.container-done.active {
	background-color:#10e729
}

.text-decoration-dashed {
	text-decoration:line-through red 4px;
}

/* Estilos para el boton Delete */

.btn-delete {
	background-color: black;
    color: #fff;
	padding: 15px;
	display: flex;
    align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.5s;
	cursor:pointer;
}

.btn-delete:hover {
	background-color: red;
}

/* Estilos para el boton de edición */
.btn-edit {
	background-color: black;
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.5s;
	cursor: pointer;
}

.btn-edit:hover {
	background-color: red;
}

/* Estilos para el formulario*/

form {
	display: flex;
	gap: 20px;
}

.add-movie h3 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 24px;
}

.input-add {
	border: none;
	outline: none;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	flex: 1;
	font-family: inherit;
	font-size: 17px;
	color: black;
    background-color: lightgray;
}

/* Estilos para el boton agregar*/

.btn-add {
	border: none;
	background-color:black;
	color: rgb(23, 221, 43);
	padding: 5px 40px;
	border-radius: 20px;
	cursor:copy;
	font-size: 17px;
}

.btn-add:hover {
	background-color: red;
    opacity: 0.8;
    transition: all 0.5s;
}